.header {
  max-height: 8vh;
}
.headerMenu {
  /* padding: 4px; */
  align-items: center;
  width: 100%;
  height: 5vh;
}

.ant-menu-title-content {
  text-align: center;
  justify-content: center;
}

.headerNavItem {
  height: 1rem;
  font-size: 20px;
}
.headerLogo.active {
  color: #0958d9 !important;
}

.headerLogo {
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
}

.headerUserIcon {
  cursor: pointer;
  background-color: white;
  color: rgba(0, 0, 0, 0.88);
  font-weight: bold;
}

@media (max-width: 450px) {
  .headerMenu {
    align-items: center;
    width: 30%;
    max-height: 1rem;
    margin: 0;
  }
  .headerUserIcon {
    width: 30px;
    height: 30px;
  }
}
